<div class="layout">

  <!-- 🔵 HEADER -->
  <header class="header">

    <!-- 🍔 BOTON MENU MOBILE -->
    <button
      class="menu-toggle"
      (click)="menuAbierto = !menuAbierto">

      ☰

    </button>

    <!-- 🧩 LOGO -->
    <div class="logo">

      <img
        src="assets/logo.png"
        alt="logo"
      >

      <h2>
        Proterquim S.A.S
      </h2>

    </div>

    <!-- 🔍 TOP BAR -->
    <div class="top-bar">

      <div class="search-box">

        <input
          type="text"
          placeholder="Buscar..."
          (input)="buscar($event)"
        >

      </div>

      <span class="admin-user">

        {{ usuario?.nombre }}
        -
        {{ rol }}

      </span>

    </div>

  </header>

  <!-- 🌑 OVERLAY MOBILE -->
  <div
    class="overlay"
    *ngIf="menuAbierto"
    (click)="menuAbierto = false">

  </div>

  <!-- 📦 CONTENIDO GENERAL -->
  <div class="container-layout">

    <!-- 🧭 SIDEBAR -->
    <div
      class="sidebar"
      [class.sidebar-open]="menuAbierto">

      <div class="menu">

        <!-- 📊 DASHBOARD -->
        <div
          class="menu-item"
          routerLink="/dashboard"
          routerLinkActive="activo"
          (click)="menuAbierto = false">

          Panel de Control

        </div>

        <!-- 📦 PRODUCTOS -->
        <div
          *ngIf="esAdmin() || esGerente()"
          class="menu-item"
          routerLink="/productos"
          routerLinkActive="activo"
          (click)="menuAbierto = false">

          Gestión de Productos

        </div>

        <!-- 🛒 PEDIDOS -->
        <div
          *ngIf="esAdmin() || esGerente() || esContador()"
          class="menu-item"
          routerLink="/pedidos"
          routerLinkActive="activo"
          (click)="menuAbierto = false">

          Gestión de Pedidos

        </div>

        <!-- 📦 INVENTARIOS -->
        <div
          *ngIf="esAdmin() || esGerente() || esEmpleado()"
          class="menu-item"
          routerLink="/inventarios"
          routerLinkActive="activo"
          (click)="menuAbierto = false">

          Gestión de Inventarios

        </div>

        <!-- 📈 REPORTES -->
        <div
          *ngIf="esAdmin() || esContador()"
          class="menu-item"
          routerLink="/reportes"
          routerLinkActive="activo"
          (click)="menuAbierto = false">

          Reportes y Estadísticas

        </div>

        <!-- 👨‍💼 EMPLEADOS -->
        <div
          *ngIf="esAdmin()"
          class="menu-item"
          routerLink="/empleados"
          routerLinkActive="activo"
          (click)="menuAbierto = false">

          Gestión de Empleados

        </div>

      </div>

      <!-- 🔐 LOGOUT -->
      <div class="logout-bottom">

        <button (click)="logout()">

          Cerrar sesión

        </button>

      </div>

    </div>

    <!-- 📄 CONTENIDO -->
    <main class="content">

      <router-outlet></router-outlet>

    </main>

  </div>

</div>